body{
margin: 0;
padding: 0;
box-sizing: border-box;
padding : 5px;
height:100%;
width:100%;
}
.text-1{
    text-align: center;
}
.text-1 h1{
    border-bottom: 2px dotted black;
}
.text-content{
    /* padding-top:10px; */
}
.list-skill .content-skill ul li{
    list-style:none;
    font-weight: bold;

}
.list-skill .content-skill{
    float:right;
    width:50%;
}
.list-skill .image-skill img{
    width:50%;
    float:left;
}
.text-2{
float: right;
}
.textks1 h1{
    padding-bottom:-10px;
}
.textks1 {
    border-bottom: 2px dotted black;
    text-align: center;

}
.box{
position:relative;
}
.box .table1{
    float:left;  
    position: absolute;
    width:50%;
    /* border: 2px solid black; */
    border-right: none;
}
 .box .table2{
    float:right;
    width:50%;
    /* border: 2px solid black; */
    border-left:none;
}

.box .table1.text-content input{
    width:100%;
}


